.nav-item:hover{
    color:blue !important; 
}
.nav-link:hover{
    color:blue !important; 
}
.sivi{
    background-color: rgb(191, 191, 191)!important;
}
.plavi{
    background-color: lightblue!important;
}

body{
    background-color: pink!important;
}
#phoneTable{
    padding: 5px;
    text-align: center;
    background-color: white;
}
.ajdevise{
    text-align: center;
}
.molimteodi{
    text-align: center;
    margin-left: 50px;
}